
.card {
    display: flex;
    flex-direction: column;
    width: 15rem; 
    /* ver si la heigth conviene que sea "auto" */
    height: auto;
    align-items: center;
    border-style: none;
    background-size:cover;
    border-radius: 10px;
    transition: transform .5s;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 2px;
    margin-left: 2px;
    background: rgba(255,255,255,0.4);
    border: 3px solid rgb(0, 0, 0);
    text-decoration: none;
    box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.2);
}  
.card:hover{
    transform: scale(1.1);
  }
  .img{
        width: 14.5rem;
        height: 200;
        border-radius: 10px;
  }

  .cardText{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 2px;
    margin-left: 2px;
    text-decoration: none;
  }

  .title {
    font-size: 15px;
    font-weight: bolder;
    align-items: center;
    text-decoration: none;
  }
.dietsPs{
  width: max-content;
  height: max-content;
}
  .ps {
    margin-top: 5px;
    font-size: 12px;
    
    font-weight: bolder;
    text-decoration: none;
  }
  li {
    list-style: none;
}
ul{
  margin-right: 30px;
  margin-bottom: 10px;
}